<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Jeison</title>
    <link rel="stylesheet" href="style/styleComponents.css">
    <link rel="stylesheet" href="../assets/swipper/swiper-bundle.min.css">
</head>
<body>
    <section class="container">
        <header>
            <a href="" class="logo">Aplic<span>aciones</span></a>
            <div class="toggle"></div>
        </header>
            <div class="card-container swiper">
                <div class="card-content">
                    <div class="swiper-wrapper">
                        <article class="card-article swiper-slide">
                            <div class="card-data">
                                <h3 class="card-name">Omnicred</h3>
                                <p class="card-description">Bienvenido A Nuestro Simulador De Crédito</p>
                                <img src="../img/Omnicred.jpeg" alt="image" class="card-img">
                                <a href="https://omnicred.000webhostapp.com/" target="_blank" class="card-button">Visita el sitio!!</a>
                            </div>
                        </article>
                        
                        <article class="card-article swiper-slide">
                            <div class="card-data">
                                <h3 class="card-name">FitLife</h3>
                                <p class="card-description">Entrena, Aprenda y Se mejor</p>
                                <img src="../img/Logo FL.png" alt="image" class="card-img">
                                <a href="https://omnicred.000webhostapp.com/" class="card-button">Visita el sitio!!</a>
                            </div>
                        </article>
    
                        <article class="card-article swiper-slide">
                            <div class="card-data">
                                <h3 class="card-name">PetInfinity</h3>
                                <p class="card-description">Adopta a tu alma gemela</p>
                                <img src="../img/" alt="image" class="card-img">
                                <a href="https://omnicred.000webhostapp.com/" class="card-button">Visita el sitio!!</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        <img src="../img/me.png" class="me">
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#">¿Quien Soy?</a></li>
            <li><a href="#">Estudios</a></li>
            <li><a href="components/aplicaciones.html">Aplicaciones</a></li>
            <li><a href="#">Certificaciones</a></li>
            <li><a href="#">Contacta Conmigo</a></li>
        </ul>
    </section>
    
    <script src="../assets/swipper/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        let banner = document.querySelector('.container');
        let menuToggle = document.querySelector('.toggle');
        menuToggle.onclick = function(){
            menuToggle.classList.toggle('active');
            banner.classList.toggle('active');
        }
    </script>
</body>
</html>